release/services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <title>New project</title>
  </head>
  <body>
    <div class="page">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between"><a class="navbar-brand" href="#"><img src="img/logoBig.svg" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbar">
                  <ul class="navbar-nav w-100 d-flex justify-content-between">
                    <li class="d-flex justify-content-center nav-item active"><a class="nav-link" href="#">Главная</a></li>
                    <li class="d-flex justify-content-center nav-item"><a class="nav-link" href="#">О компании</a></li>
                    <li class="d-flex justify-content-center nav-item"><a class="nav-link" href="#">Услуги</a></li>
                    <li class="d-flex justify-content-center nav-item"><a class="nav-link" href="#">Каталог</a></li>
                    <li class="d-flex justify-content-center nav-item"><a class="nav-link" href="#">Контакты</a></li>
                  </ul>
                </div>
                <div class="ml-0 ml-lg-5 block_phone"><a class="phone" href="tel:+73512200011">+7 (351) 220 00 11</a></div>
                <div class="ml-3 d-none d-lg-block">
                  <button class="btn" data-toggle="modal" data-target="#ModalCenter">Заказать звонок</button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <div class="content pt-5 services">
        <div class="container pt-5">
          <div class="row pt-5">
            <div class="col-12 pt-5">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb px-0">
                  <li class="breadcrumb-item"><a href="#">Главная</a></li>
                  <li class="breadcrumb-item"><a href="#">Каталог</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <div class="container services__type">
          <div class="row">
            <div class="col-12">
              <h1 class="header_h2">Услуги</h1>
            </div>
          </div>
          <div class="row pt-5">
            <div class="col-12 col-sm-6"><a class="d-flex flex-column align-items-center justify-content-center" href="#"><img src="img/image.png" alr="#">
                <div class="services__text p-3 text-center">
                  <p>Металлообработка</p>
                </div></a></div>
            <div class="col-12 col-sm-6"><a class="d-flex flex-column align-items-center justify-content-center" href="#"><img src="img/image2.png" alr="#">
                <div class="services__text p-3 text-center">
                  <p>Доставка металла</p>
                </div></a></div>
          </div>
        </div>
        <div class="container advantage pt-5">
          <div class="row">
            <div class="col-12">
              <h2>Наши преимущества</h2>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-12 col-md-6 col-lg-4 py-5">
              <div class="d-flex flex-column align-items-center"><img src="img/list.svg" alt="img">
                <p class="pt-4 text-center">Весь ассортимент<br>всегда в наличии</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 py-5">
              <div class="d-flex flex-column align-items-center"><img src="img/shipped.svg" alt="img">
                <p class="pt-4 text-center">Доставка собственной<br>траспортной компанией</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 py-5">
              <div class="d-flex flex-column align-items-center"><img src="img/bill.svg" alt="img">
                <p class="pt-4 text-center">Гибкая система<br>оплаты</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button>
            </div>
            <div class="modal-body">
              <div class="form d-flex p-0">
                <div class="form__left d-flex justify-content-end">
                  <div class="container_1_2"><span class="modal__header mb-1">Оставьте свои контакты</span><span>и мы с вами свяжемся</span>
                    <form class="d-flex flex-column align-items-center pt-4">
                      <input class="mb-4" name="name" type="text" placeholder="Имя*">
                      <input class="mb-4" name="phone" type="tel" placeholder="Телефон*">
                      <textarea class="mb-4" name="message" placeholder="Сообщение"></textarea>
                      <div class="d-flex align-items-center justify-content-center pt-3">
                        <label class="m-0">
                          <input class="checkbox" type="checkbox" id="checkbox" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
                        </label><a href="#">Согласен с политикой обработки персональных данных</a>
                      </div>
                      <button class="btn mt-5" type="submit">Отправить</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer pt-4 pb-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-lg-3 d-flex flex-column align-items-start footer_info pb-3 pb-lg-0"><a class="navbar-brand navbar-brand_footer" href="#"><img src="img/logoBig.svg" alt="logo"></a><a class="phone phone_footer my-4" href="tel:+73510000000">+7 (351) 000 00 00</a><span class="d-block address address_footer">Челябинск, ул. Ленина 55</span></div>
            <div class="col-12 col-lg-9">
              <div class="catalog">
                <div class="row">
                  <div class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0"><a class="catalog__header mb-4" href="#">Арматура</a><a class="catalog__header mb-4" href="#">Круг</a><a class="catalog__header" href="#">Уголок</a></div>
                  <div class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0"><a class="catalog__header mb-4" href="#">Швеллер</a><a class="catalog__header mb-4" href="#">Балка</a><a class="catalog__header" href="#">Труба газопроводная</a></div>
                  <div class="col-6 col-lg-4 d-flex flex-column"><a class="catalog__header mb-4" href="#">Труба электросварная</a><a class="catalog__header mb-4" href="#">Труба профильная</a><a class="catalog__header" href="#">Лист</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center pt-5"><a class="social_icon" href="#">
              <div class="endsocial_icon_bg"></div><img src="img/ins.png" alt="img"></a><a class="social_icon mx-4" href="#">
              <div class="endsocial_icon_bg"></div><img src="img/vk.png" alt="img"></a><a class="endsocial_icon" href="#">
              <div class="social_icon_bg"></div><img src="img/youtube.png" alt="img"></a></div>
        </div>
      </footer>
      <script src="js/main.min.js"></script>
    </div>
  </body>
</html>

source/html/services.pug
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between")
								a(class="navbar-brand" href="#")
									img(class="" src="img/logoBig.svg" alt="logo")
								button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
									span(class="navbar-toggler-icon")
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-between")
										li(class="d-flex justify-content-center nav-item active")
											a(class="nav-link" href="#")
												| Главная
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| О компании
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Услуги
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Каталог
										li(class="d-flex justify-content-center nav-item")
											a(class="nav-link" href="#")
												| Контакты
								div(class="ml-0 ml-lg-5 block_phone")
									a(class="phone" href="tel:+73512200011")
										| +7 (351) 220 00 11
								div(class="ml-3 d-none d-lg-block")
									button(class="btn" data-toggle="modal" data-target="#ModalCenter")
										| Заказать звонок
			
			div(class="content pt-5 services")
				div(class="container pt-5")
					div(class="row pt-5")
						div(class="col-12 pt-5")
							nav(aria-label="breadcrumb" )
								ol(class="breadcrumb px-0")
									li(class="breadcrumb-item")
										a(href="#")
											| Главная
									li(class="breadcrumb-item")
										a(href="#")
											| Каталог
				div(class="container services__type")
					div(class="row")
						div(class="col-12")
							h1(class="header_h2")
								| Услуги
					div(class="row pt-5")
						div( class="col-12 col-sm-6")
							a(class="d-flex flex-column align-items-center justify-content-center" href="#")
								img(src="img/image.png" alr="#")
								div(class="services__text p-3 text-center")
									p
										| Металлообработка
						div( class="col-12 col-sm-6")
							a(class="d-flex flex-column align-items-center justify-content-center" href="#")
								img(src="img/image2.png" alr="#")
								div(class="services__text p-3 text-center")
									p
										| Доставка металла
				div(class="container advantage pt-5")
						div(class="row")
							div(class="col-12")
								h2()
									| Наши преимущества
						div(class="row py-5")
							div(class="col-12 col-md-6 col-lg-4 py-5")
								div(class="d-flex flex-column align-items-center")
									img(src="img/list.svg" alt="img")
									p(class="pt-4 text-center")
										| Весь ассортимент<br>всегда в наличии
							div(class="col-12 col-md-6 col-lg-4 py-5")
								div(class="d-flex flex-column align-items-center")
									img(src="img/shipped.svg" alt="img")
									p(class="pt-4 text-center")
										| Доставка собственной<br>траспортной компанией
							div(class="col-12 col-md-6 col-lg-4 py-5")
								div(class="d-flex flex-column align-items-center")
									img(src="img/bill.svg" alt="img")
									p(class="pt-4 text-center")
										| Гибкая система<br>оплаты

			div(class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true")
				div(class="modal-dialog modal-dialog-centered" role="document")
					div(class="modal-content")
						div(class="modal-header")
							button(type="button" class="close" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true")
									| &times
						div(class="modal-body")
							div(class="form d-flex p-0")
								div(class="form__left d-flex justify-content-end")
									div(class="container_1_2")
										span(class="modal__header mb-1")
											| Оставьте свои контакты
										span
											| и мы с вами свяжемся
										form(class="d-flex flex-column align-items-center pt-4")
											input(name="name" type="text" class="mb-4" placeholder="Имя*")
											input(name="phone" type="tel" class="mb-4" placeholder="Телефон*")
											textarea(name="message" placeholder="Сообщение" class="mb-4")
											div(class="d-flex align-items-center justify-content-center pt-3")
												label(class="m-0")
													input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
													span(for="checkbox" class="checkbox__label")
												a(href="#")
													| Согласен с политикой обработки персональных данных
											button(class="btn mt-5" type="submit")
												| Отправить
			footer(class="footer pt-4 pb-5")
				div(class="container")
					div(class="row align-items-center")
						div(class="col-12 col-lg-3 d-flex flex-column align-items-start footer_info pb-3 pb-lg-0")
							a(class="navbar-brand navbar-brand_footer" href="#")
								img(src="img/logoBig.svg" alt="logo")
							a(class="phone phone_footer my-4" href="tel:+73510000000")
								| +7 (351) 000 00 00
							span(class="d-block address address_footer")
								| Челябинск, ул. Ленина 55
						div(class="col-12 col-lg-9")
							div(class="catalog")
								div(class="row")
									div(class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0")
										a(class="catalog__header mb-4" href="#")
											| Арматура
										a(class="catalog__header mb-4" href="#")
											| Круг
										a(class="catalog__header" href="#")
											| Уголок
									div(class="col-6 col-lg-4 d-flex flex-column pb-3 pb-lg-0")
										a(class="catalog__header mb-4" href="#")
											| Швеллер
										a(class="catalog__header mb-4" href="#")
											| Балка
										a(class="catalog__header" href="#")
											| Труба газопроводная
									div(class="col-6 col-lg-4 d-flex flex-column")
										a(class="catalog__header mb-4" href="#")
											| Труба электросварная
										a(class="catalog__header mb-4" href="#")
											| Труба профильная
										a(class="catalog__header" href="#")
											| Лист
					div(class="row justify-content-center pt-5")
						a(class="social_icon" href="#")
							div(class="endsocial_icon_bg")
							img(src="img/ins.png" alt="img")
						a(class="social_icon mx-4" href="#")
							div(class="endsocial_icon_bg")
							img(src="img/vk.png" alt="img")
						a(class="endsocial_icon" href="#")
							div(class="social_icon_bg")
							img(src="img/youtube.png" alt="img")
			script(src="js/main.min.js")
